.navbar {
  position: sticky;
  background-color: rgb(199, 199, 199);
  padding: 5px 20px; /* увеличил отступ слева и справа для лучшего визуального разделения */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navLinks {
  display: flex;
}

.navLink {
  font-size: larger;
  text-decoration: none;
  color: rgb(7, 6, 6);
  margin-right: 20px;
}

.logoutButtonContainer {
  margin-left: auto; /* прикрепляем к правому краю */
}

.logoutButton {
  font-size: larger;
  color: rgb(7, 6, 6);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.logoutButton:hover {
  text-decoration: underline;
}
