.footer {
  width: 100%; /* Растягиваем футер на всю ширину экрана */
  background-color: #000000; /* Пример цвета фона */
  color: white; /* Пример цвета текста */
  text-align: center; /* Центрируем текст в футере */
}
